<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ch03-drawcommands.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ch03-instancing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>triangles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A5235E71CAA39F400ED5AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A5235FA1CAA3A9400ED5AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A52360A1CAA531100ED5AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A5FC3C41CACD09000A178B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
